<div class="container-fluid">
    <div class="row back-image text-center">
        
<div class="col-5 d-flex flex-column justify-content-center">
  <img src="https://media.istockphoto.com/id/1220627789/vector/feather-pen-icon-flat-vector-template-design-trendy.jpg?s=612x612&w=0&k=20&c=PJ7Ty_exvmBRhYmrt-02rB5TCrL2dLw0kB6e2E_8JtA=" class="image"/>
    <h1 class="bg-heading">Back Ground</h1>
</div>
<div class="col-2 d-flex flex-column justify-content-center">
<div class="vl"></div>
</div>
<div class="col-5 d-flex flex-column justify-content-center">
    
    <form
      (ngSubmit)="onFormSubmission(referenceForForm)"
      #referenceForForm="ngForm"
    >
    <nav>
    
      <div class="form-group">
        <input
          type="userName"
          placeholder="Username"
          class="form-control"
          name="userName"
          ngModel
          required
          #refForUserName="ngModel"
          email
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          name="password"
          ngModel
          required
          #refForPassword="ngModel"
          password
        />
        
      </div>
      <button class="btn btn-primary" (click)="onFormSubmit()">Login</button>
    </nav>
    </form>
  </div>
</div>
</div>
  <router-outlet></router-outlet>