<!-- <button class="btn btn-danger cross" (click)="cancel()" >X</button>

<h1>Add Details</h1>
<label>Sl_No</label>
<input type="number" placeholder="Sl_No">

<label>Hotel</label>
<input type="text" placeholder="Hotel Name">


<label>Arrival Date</label>
<input type="date"/>

<label>Departure</label>
<input type="date"/> -->

<!-- 
<label for="cars">Choose Type:</label>

<select name="cars" id="cars">
  <option value="volvo">Economy</option>
  <option value="saab">Suite</option>
  <option value="mercedes">Luxury Suite</option>
  <option value="audi">Double</option>
</select>

<label>Guests</label>
<input type="number"/>

<label>Price</label>
<input type="number"/>
<div>
<button class="btn btn-primary save-button" (click)="save()">Save</button> 
<button class="btn btn-primary">Reset</button>
</div>

 -->

 <div class="bg-con">
  <form [formGroup]="add">
  <button class="btn btn-danger cross" >X</button>
  
  <h1>Add Details</h1>
  <label>SerialNo</label>
  
  <input type="number" placeholder="Serial_No" formControlName="Sl_No">
  <br/><br/>
  <label>Hotel</label>

  <input type="text" placeholder="Hotel Name" formControlName="Hotel">
  <br/><br/>
  
  <label>Arrival Date</label>
  <input type="date" formControlName="Arrival">
  <br/><br/>
  
  <label>Departure</label>
  <input type="date" formControlName="Departure">
  <br/><br/>
  
  
  <label for="Type">Choose Type:</label>
  
  <select formControlName="Type">
    <option value="Economy">Economy</option>
    <option value="Suite">Suite</option>
    <option value="Luxury Suite">Luxury Suite</option>
    <option value="Double">Double</option>
  </select>
  <br/><br/>
  <label>Guests</label>
  <input type="number" formControlName="Guests">
  <br/><br/>
  <label>Price</label>
  <input type="number" formControlName="price">
  <br/><br/>
  <div>
  <button (click)="save()" class="btn btn-primary save-button">Save</button> 
  <button class="btn btn-primary" (click)="closebtn(add)">Close</button>
  </div>
  </form>
 </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    
     
  
  <h4>Type</h4>
  <mat-form-field appearance="fill">
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option value="Luxury Suite">Luxury Suite</option>
      <option value="Suite">Suite</option>
      <option value="Double">Double</option>
      <option value="Economy">Economy</option>
    </select>
  </mat-form-field>
  
  <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <input matInput placeholder="No Guests" value=>
      </mat-form-field>
  
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Price" value=>
          </mat-form-field>
  
      <div>
  <button class="btn btn-primary">Save</button> 
  <button class="btn btn-primary button-two">Reset</button>
  </div>
       -->

